mat-vertical-stepper {
  clear: both;
}

.mat-vertical-content {
  padding: 0 24px;
}

.step-btn {
  margin-bottom: -24px
}

mat-radio-group {
  display: flex;
  flex-direction: column;
}

mat-radio-button {
  margin: 0.2em;
}

.filter {
  min-width: 20em;
}

.name {
  margin: 16px 0 20px;
}

.name span {
  font-size: 1.1em;
  padding: 5px 10px;
  border-left: 3px solid #3f51b5;
  color: #3f51b5;
}

.no-params {
  margin: 1em;
}

.select-tests {
  display: flex;
}

.diagTestName {
  width: 100%;
}

.test-tree {
  margin-right: 1.5em;
}

.test-description {
  text-justify: inter-word;
  text-indent: 1em;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.error-message {
  background: #f44336;
  color: #FFF;
  line-height: 2em;
  height: 2em;
  padding: 0 1em;
  display: flex;
  align-items: center;
}

.last-step {
  display: flex;
  justify-content: space-between;
}

.error-text {
  padding-left: 0.5em;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
}

.close-icon:hover {
  cursor: pointer;
}

.diag-btns {
  display: flex;
  justify-content: flex-end;
}