@import "../../stylesheets/table.scss";
@import "../../stylesheets/info.scss";
mat-form-field {
    width: 100%;
}

mat-row {
    cursor: pointer;
}

mat-row:hover {
    background: rgba(0, 0, 0, .04);
}

.mat-column-state {
    flex: 0.5;
}

.selected {
    background-color: rgba(0, 0, 0, 0.08);
}

.mat-form-field input {
    font-size: .9em;
}

.mat-table {
    max-height: 60vh;
    overflow: auto;
}

.mat-select {
    font-size: .9em;
}