@import "../../stylesheets/table.scss";
@import "../../stylesheets/info.scss";

mat-form-field {
  width: 100%;
}

.list-item {
  cursor: pointer;
}

.list-item:hover {
  background: rgba(0, 0, 0, .04);
}

.node-name {
  flex: 1;
}

.node-state {
  flex: 0.5;
}

.selected {
  background-color: rgba(0, 0, 0, 0.08);
}

.mat-form-field input {
  font-size: .9em;
}

.list-content {
  height: 50vh;
}

.mat-select {
  font-size: .9em;
}

.list-item a {
  color: #d64205;
  text-decoration-line: underline;
}
