.filter mat-form-field {
  width: 100%;
  margin-bottom: 1em;
}

mat-table {
  text-align: center;
}

mat-header-cell {
  font-size: .8em;
}

.node.success {
  background-color: #d5ffd4;
}

.node.failure {
  background-color: #ffdada;
}

.node {
  cursor: pointer;
}

.mat-column-nodes {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  display: flex;
  align-items: center;
  padding: 0 1em;
  background-color: #fff;
}

.title.main {
  clear: both;
}

.title.Failed {
  color: #D84315;
}

.title.Finished {
  color: #283593;
  ;
}

.title.Running {
  color: #2E7D32;
}

.title.Queued {
  color: #FF8F00;
}

.title .name {
  margin-left: 0.3em;
}

app-back-button {
  float: right;
}

.message {
  padding: 0 1em;
}
