@import "../../../stylesheets/job-result.scss";
.aggregationResult {
    white-space: pre-line;
    line-height: 2em;
}

.task-result-info {
    @include display-flex($justify-content: space-between);
}

.area-title {
    padding: 1em 0 0 0;
    @include display-flex(center);
    @include font-basic(.9em);
}

.bar-chart {
    width: 30em;
}

.latency {
    @include display-flex(center, center);
}

.chart-type {
    @include display-flex(center);
    margin-top: 10px;
}

.chart-btn {
    height: 2em;
    line-height: 2em;
    padding: 0 1em;
    background-color: rgba(63, 81, 181, .2);
    text-align: center;
    @include font-basic(.8em, #FFF);
}

.chart-btn:hover {
    cursor: pointer;
}

.chart-btn.active {
    color: #FFF;
    background-color: rgba(63, 81, 181, .9);
}

.overview-chart {
    @include display-flex($justify-content: space-between);
}

.overview-header {
    @include display-flex(flex-start, space-between);
}

.overview-title {
    font-weight: 500;
    @include display-flex(center);
    @include font-basic(.9em, #7986CB);
}

.overview-value {
    font-size: .9em;
}

.select-node {
    margin-top: .7em;
    margin-left: 1em;
}

.pair-list {
    font-size: .9em;
    padding-bottom: .5em;
    @include display-flex($justify-content: space-between);
}

.overview-info {
    margin-bottom: .5em;
}

.passed {
    color: green;
}

.not-passed {
    color: red;
}

.error-message {
    color: rgba(206, 80, 57, .9);
    padding: 1em;
}