@import "../../../../stylesheets/table.scss";

.node.success {
  background-color: #d5ffd4;
}

.node.failure {
  background-color: #ffdada;
}

.node {
  cursor: pointer;
}

.task-id {
  flex: 0.5;
}

.task-detail {
  flex: 0.3;
}

.task-remark {
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 3;
}

.task-state,
.task-node {
  flex: 1;
}
