@import "../../stylesheets/mixin.scss";
@import "../../stylesheets/table.scss";

.id:hover {
    cursor: pointer;
}

.job-id {
    flex: 0.2;
    .icon-cell {
        color: #3f51b5;
    }
}

.job-progress {
    flex: 0.8;
}

.job-category,
.job-diagnostic {
    flex: 0.3;
}

.job-test {
    flex: 0.7;
}

.job-created,
.job-updated {
    flex: 0.5;
}

.job-state {
    flex: 0.3;
}