.filter mat-form-field {
  width: 100%;
  margin: 1em 0;
}

mat-table {
  margin-top: 1em;
  text-align: center;
}

.mat-column-select {
  overflow: initial;
  flex: 0.1;
  text-align: left;
}

.mat-column-progress {
  flex: 0.8;
}

.mat-column-events, .mat-column-result, .mat-column-actions {
  flex: 0.3;
  color: #616161;
}

.mat-column-id, .mat-column-state {
  flex: 0.3;
}

.mat-row:hover {
  background: rgba(0, 0, 0, .04);
}

.mat-row a {
  color: #3b46da;
}

.Finished {
  color: #2E7D32;
}

.Queued {
  color: #FF8F00;
}

.Failed {
  color: #D84315;
}

.Running {
  color: #283593;
}

.test-name {
  text-decoration-line: none;
  color: #424242;
  /* text-align: left; */
}

.mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.loading {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.diags-table {
  height: 100%;
}

.up-to-top {
  position: fixed;
  z-index: 200;
  width: 2.5em;
  height: 2.5em;
  background: rgba(0, 0, 0, .08);
  bottom: 1em;
  right: 1em;
}

.up-to-top:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}

.upward {
  position: absolute;
  width: 1.4em;
  height: 1.4em;
  font-size: 1.8em;
  left: 0;
  top: 0.3em;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: rgb(63, 81, 181, 0.7)
}

.upward:hover {
  color: #FFF;
}
