@import "../../stylesheets/mixin.scss";
@import "../../stylesheets/table.scss";

.list-item:hover {
  cursor: text;
}

.id:hover {
  cursor: pointer;
}

.job-id {
  flex: 0.2;

  &:hover {
    cursor: pointer;
  }
}

.job-progress {
  flex: 0.8;
}

.job-category,
.job-item {
  flex: 0.5;
}

.job-name {
  flex: 0.7;
}

.job-created,
.job-updated {
  flex: 0.5;
}

.job-state {
  flex: 0.3;
}

.job-nodes {
  flex: 0.3;

  &:hover {
    cursor: pointer;
  }

  .cell-text {
    text-decoration-color: $color;
    text-decoration-line: underline;
    text-decoration-style: solid;
  }
}

.active-job {
  color: $color;
}

.nodes {
  overflow-y: auto;
  height: 85vh;

  .node {
    @include display-flex(center);
    height: 25px;
    font-size: 14px;

    .cell-icon {
      font-size: 1em;
    }

    &:hover {
      color: $color;
    }
  }
}
