@import "../../../../../../stylesheets/mixin.scss";
@import "../../../../../../stylesheets/info.scss";

.result-detail {
  @include display-flex($justify-content: space-around);
  font-family: $font-stack;
  margin: 1em 0 0;
}

.overview-res {
  font-size: 12px;
  padding: 0 1em;
}
