.event {
  display: flex;
  align-items: baseline;
  font-size: .9rem;
  padding: 0 1em;
}

.event-time {
  color: rgba(0, 0, 0, .6);
}

.time-line {
  width: 13em;
  text-align: right;
  font-size: .7rem;
  padding: 0em 2em 0em 1em;
  flex: 2;
}

.azure-event::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Material Icons';
  /* width: 2.4em;
  height: 2.4em; */
  padding: .4em;
  font-size: 1.3em;
  left: -.9em;
  top: 1.3em;
  color: #fff;
  border-radius: 50%;
}

.Reboot::before {
  content: '\e8ac';
  background-color: #12ba74;
}

.reboot {
  color: #12ba74;
}

.Redeploy::before {
  content: '\e2c3';
  background-color: #5C6BC0;
}

.redeploy {
  color: #5C6BC0;
}

.Freeze::before {
  content: '\e628';
  background-color: #ef6807;
}

.freeze {
  color: #ef6807;
}

.event-info {
  display: flex;
  position: relative;
  border-left: .13em solid rgba(110, 122, 140, .6);
  padding: 2em 1.5em 2em 2em;
  flex: 10;
}

.event-type .material-icons {
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 5px;
}

.event-source {
  margin-right: 5px;
}

.event-content {
  color: rgba(0, 0, 0, .7);
  line-height: 1.5em;
}

.Scheduled {
  color: #0aa4af;
  border: 1px solid #0aa4af;
  padding: .1em .3em;
  /* color: #fff;
  padding: .2em .5em; */
}

.Started {
  color: #0a57af;
  border: 1px solid #0a57af;
  padding: .1em .3em;
  /* color: #fff;
  padding: .2em .5em; */
}