<div class="event" *ngFor="let event of events">
  <div class="time-line">
    <div class="event-time">{{event.NotBefore | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
  </div>
  <div class="event-info azure-event" [ngClass]="event.EventType">
    <div class="event-content">{{event.EventId}}, {{event.ResourceType}}
      <!-- <span [ngClass]="typeColor(event.EventType)"> {{event.EventType}} </span>, -->
      <span [ngClass]="event.EventStatus">{{event.EventStatus}}</span>
    </div>
  </div>
</div>
<div class="event empty-msg" *ngIf="events.length < 1">
  {{message}}
</div>