@import "../../stylesheets/mixin.scss";
@import "../../stylesheets/table.scss";

.actions {
  @include display-flex(center, space-between);
}

.filter-area {
  @include display-flex(center, flex-end);

  mat-form-field {
    margin: 0 10px;

    input {
      font-size: 14px;
    }
  }
}

.job-id {
  flex: 0.2;
}

.job-command {
  flex: 1;
  @include ellipsis-text;
}

.job-progress {
  flex: 0.8; // text-align: right;
}

.job-updated {
  flex: 0.4;
}

.job-created,
.job-state {
  flex: 0.4;
}

.job-nodes {
  flex: 0.3;

  &:hover {
    cursor: pointer;
  }

  .cell-text {
    text-decoration-color: $color;
    text-decoration-line: underline;
    text-decoration-style: solid;
  }
}

.active-job {
  color: $color;
}

.nodes {
  overflow-y: auto;
  height: 85vh;

  .node {
    @include display-flex(center);
    height: 25px;
    font-size: 14px;

    .cell-icon {
      font-size: 1em;
    }

    &:hover {
      color: $color;
    }
  }
}
