mat-table {
  margin-top: 1em;
}

.mat-cell, .mat-header-cell {
  text-align: center;
  padding: 0 2px;
}

.mat-column-select {
  overflow: initial;
  flex: 0.3;
}

.mat-column-id {
  flex: 0.3;
  text-align: right;
}

.mat-column-command {
  flex: 2.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mat-column-progress {
  flex: 0.5;
  text-align: right;
}

.mat-column-state {
  flex: 0.5;
}

.mat-column-actions {
  flex: 0.3;
}

.mat-row:hover {
  background: rgba(0,0,0,.04);
}

.mat-row a {
  color: #3b46da;
}

.control {
  margin-top: 1em;
}

.up-to-top {
  position: fixed;
  z-index: 200;
  width: 2.5em;
  height: 2.5em;
  bottom: 1em;
  right: 1em;
  background: rgba(0, 0, 0, .08);
  display: flex;
  justify-content: center;
  align-items: center;
}

.up-to-top a, .up-to-top a:visited {
  color: inherit;
}
