@import "../../stylesheets/mixin.scss";
@import "../../stylesheets/table.scss";
mat-table {
    margin-top: 1em;
}

.mat-column-id {
    flex: 0.2;
    .icon-cell {
        color: #3f51b5;
    }
}

.mat-column-command {
    // flex: 2.5;
    @include ellipsis-text;
}

.mat-column-progress {
    flex: 0.8; // text-align: right;
}

.mat-column-lastChangedAt {
    flex: 0.4;
}

.mat-column-createdAt,
.mat-column-state {
    flex: 0.4;
}

.control {
    margin-top: 1em;
}

.loading {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}