@import "../../stylesheets/mixin.scss";
@import "../../stylesheets/table.scss";
mat-table {
    margin-top: 1em;
}

.mat-column-command {
    // flex: 2.5;
    @include ellipsis-text;
}

.mat-column-progress {
    flex: 0.8; // text-align: right;
}

// .mat-column-state {
//   flex: 0.5;
// }
.control {
    margin-top: 1em;
}

.up-to-top {
    position: fixed;
    z-index: 200;
    width: 2.5em;
    height: 2.5em;
    bottom: 1em;
    right: 1em;
    background: rgba(0, 0, 0, .08);
    display: flex;
    justify-content: center;
    align-items: center;
}

.up-to-top a,
.up-to-top a:visited {
    color: inherit;
}