@import "../../../../../../stylesheets/mixin.scss";
@import "../../../../../../stylesheets/info.scss";
.overview-result {
    @include display-flex($justify-content: space-between);
}

.latency {
    @include display-flex(center, center);
}

.chart-type {
    @include display-flex($align-items: center);
    margin-top: 10px;
}

.chart-btn {
    height: 2em;
    font-size: .8em;
    line-height: 2em;
    padding: 0 1em;
    color: #FFF;
    background-color: rgba(63, 81, 181, .2);
    text-align: center;
}

.chart-btn:hover {
    cursor: pointer;
}

.chart-btn.active {
    color: #FFF;
    background-color: rgba(63, 81, 181, .9);
}

.overview-content {
    @include display-flex($justify-content: flex-start);
    width: 65%;
}

.overview-header {
    @include display-flex($justify-content: space-between, $align-items: flex-start);
}

.select-node {
    margin-top: .7em;
    margin-left: 1em;
}

.mat-select {
    font-size: .9em;
}

.pair-list {
    @include font-basic($font-size: .8em, $font-color: $info-color);
    @include display-flex($justify-content: space-between);
    padding-bottom: .5em;
}

.chart-container {
    position: relative;
    width: 37%;
    float: left;
    padding-right: 1.2em;
}

.pair-name {
    padding-right: .5em;
}

.result-pair {
    flex: 2;
    margin-left: 1.5em;
}

.mat-expansion-panel-header {
    height: auto !important;
    padding: 10px !important;
}

.mat-expansion-panel-header-title {
    color: $color !important;
    font-size: .9em;
}

.result-pair {
    overflow: hidden !important;
}

::ng-deep .result-pair .mat-expansion-panel-body {
    padding: 0 0.8em 0.8em;
    font-size: 16px; // overflow: hidden !important;
    .pair-area {
        max-height: 400px;
        overflow: auto;
        padding-right: 10px;
    }
}

mat-accordion {
    height: 100%;
}

.solution {
    font-size: 0.85em;
    color: $color;
    padding-bottom: 1em;
}