<mat-dialog-content>
  <div>
    <mat-form-field>
      <input matInput placeholder="Name pattern" [(ngModel)]="name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select placeholder="State" [(ngModel)]="state">
        <mat-option *ngFor="let opt of states" [value]="opt">
          {{ opt | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select placeholder="Health" [(ngModel)]="health">
        <mat-option *ngFor="let opt of healths" [value]="opt">
          {{ opt | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select placeholder="Group" [(ngModel)]="group">
        <mat-option *ngFor="let opt of groups" [value]="opt">
          {{ opt | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close="">Cancel</button>
  <button mat-button [mat-dialog-close]="build()">OK</button>
</mat-dialog-actions>
