pre {
  color: white;
  background-color: black;
  overflow: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 1em;
  height: 600px;
}

@keyframes blink {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.attention {
  animation: blink 1s 5;
}

button.control {
  width: 100%;
  background-color: #e4e4e4;
}

.control + .control {
  margin-top: 5px;
}

.control.static {
  text-align: center;
  background-color: #e4e4e4;
  padding: 8px;
}

.control.static.up, button.control.up {
  border-radius: 8px 8px 0 0;
}

.control.static.down, button.control.down {
  border-radius: 0 0 8px 8px;
}

