<ng-container *ngIf="isLoaded; else waiting">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 selection">
        <node-selector [nodes]="result.nodes" [loadFinished]='loadFinished' [maxPageSize]="maxPageSize" (select)="selectNode($event)"
          (updateLastIdEvent)="onUpdateLastIdEvent($event)" [nodeOutputs]="nodeOutputs" [empty]="empty">
        </node-selector>
      </div>

      <mat-tab-group mat-align-tabs="start" class="col-md-9" [selectedIndex]="selected.value" (selectedIndexChange)="changeTab($event)">
        <mat-tab *ngFor="let tab of this.tabs; index as i">
          <ng-template mat-tab-label>
            <div class="cmd-tab">
              <mat-icon class="tab-icon" color="primary" *ngIf='isJobOver(tab.state)'>call_to_action</mat-icon>
              <mat-spinner *ngIf='!isJobOver(tab.state)' [diameter]="15"></mat-spinner>
              <div class="tab-text">{{tab.id}} - {{tab.command}}</div>
            </div>
            <button mat-icon-button (click)="closeTab(i)" *ngIf="tabs.length > 1">
              <mat-icon class="tab-icon">close</mat-icon>
            </button>
          </ng-template>
          <div class="output">
            <command-output (loadPrev)="loadPrevAndScroll(selectedNode, $event)" (loadNext)="loadNext(selectedNode)"
              (gotoTop)="loadFromBeginAndScroll(selectedNode, $event)" [content]="currentOutput?.content" [disabled]="isOutputDisabled"
              [loading]="loading" [bof]="currentOutput?.start === 0" [eof]="currentOutput?.end">
            </command-output>

            <div class="control bottom">
              <a [href]="currentOutputUrl" *ngIf="currentOutputUrl">
                <i class="material-icons">file_download</i> Download the whole output
              </a>
              <mat-checkbox color="primary" [disabled]="loading && loading != 'auto'" [checked]="autoload" (change)="toggleAutoload($event.checked)">Autoscroll</mat-checkbox>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <mat-radio-group [(ngModel)]="commandLine" (change)="changeMode(commandLine)">
          <mat-radio-button value="single" color="primary" class="radio-btn">
            Single Line Command
          </mat-radio-button>
          <mat-radio-button value="multiple" color="primary" class="radio-btn">
            Script Block ( Linux )
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <mat-form-field class="col-md-3">
        <input matInput placeholder="timeout" type="number" class="timeout-text" [(ngModel)]="timeout">
        <span matSuffix>sec</span>
      </mat-form-field>
    </div>
    <div class="row justify-content-end">
      <mat-form-field class="col-md-7" *ngIf="commandLine == 'single'">
        <input matInput placeholder="New single line command here, press enter to excute" [(ngModel)]='newCmd'
          (keyup.ArrowUp)="getPreviousCmd()" (keyup.ArrowDown)="getNextCmd()" (keyup.Enter)="excuteCmd()">
      </mat-form-field>
      <mat-form-field class="col-md-7" *ngIf="commandLine == 'multiple'">
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="15" placeholder="New script block here, press ctrl+enter to excute" [(ngModel)]='newCmd'
          (keyup.ArrowUp)="getPreviousCmd()" (keyup.ArrowDown)="getNextCmd()" (keyup.control.Enter)="excuteCmd()"></textarea>
      </mat-form-field>
      <div class="col-md-2 excute-btn">
        <button mat-flat-button color="primary" (click)="excuteCmd()">Excute</button>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #waiting>
  <div class="waiting">
    <p>{{errorMsg}}</p>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 selection">
          <node-selector [nodes]="result?.nodes">
          </node-selector>
        </div>

        <div class="col-md-9 output">
          <command-output [disabled]="true" [loading]="true">
          </command-output>
        </div>
      </div>
    </div>
  </div>
</ng-template>
