.detail-header {
  display: flex;
  justify-content: space-between;
  background: #FFF;
  align-items: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header-info {
  display: flex;
  align-items: center;
  border-left: 4px solid #3f51b5;
  padding: 1em;
}

.basic-info {
  display: flex;
  align-items: flex-start;
}

.charts {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  padding: 0 1em;
}

.chart {
  width: 50%;
  padding-top: 1em;
}

.node-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 1em;
}

.area-title {
  font-size: .9em;
  padding: 1em 0;
  display: flex;
  align-items: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title-icon {
  font-size: 1em;
  padding-right: 0.2em;
}

.node-name {
  font-size: 1.2em;
}

.section {
  margin-top: 1em;
  border-top: 1px dashed;
  padding-top: 1em;
}

chart {
  height: 15em;
}

table {
  width: 100%;
}

td {
  height: 2em;
  padding: 0 0.5em;
  background-color: #e8e7e7;
}

.mat-column-type, .mat-column-status {
  flex: 0.3;
}

.mat-column-resourceType {
  flex: 0.6;
}

.mat-column-id {
  padding-right: 0.5em;
}

.node-name {
  margin-right: 1em;
}

.node-tag {
  color: white;
  margin: 0 0.4em 0 0;
  padding: 0.3em 0.4em;
  font-size: 0.8em;
}

.healthy-tag {
  /* background: #009688; */
  color: #009688;
  border: 1px solid #009688;
}

.online-tag {
  /* background: #3f51b5; */
  color: #3f51b5;
  border: 1px solid #3f51b5;
}

.error-tag {
  /* background: #DC3636; */
  color: #DC3636;
  border: 1px solid #DC3636;
}

.offline-tag {
  background: #9E9E9E;
  color: #FFF;
  border: 1px solid #9E9E9E;
}

/* .node-info{
  display: flex;
} */

.overview-title {
  font-size: .9em;
  color: rgba(63, 81, 181, 0.9);
  flex: 2;
  text-align: right;
}

.overview-value {
  flex: 3;
  padding-left: .5em;
  font-size: .9em;
  color: rgba(0, 0, 0, .7);
}

.info-item {
  display: flex;
  margin-bottom: .4em;
}

.text-right {
  text-align: right;
}

hr {
  border: none;
  border-top: 1px dashed rgba(63, 81, 181, 0.5);
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 90%;
}

.event {
  display: flex;
  align-items: center;
  font-size: .9rem;
  padding: 0 10px;
}

.event-time {
  font-size: .8rem;
  min-width: 7.4rem;
  color: rgba(63, 81, 181, .8);
}

.time-line {
  border-right: .1em solid rgba(63, 81, 181, .8);
  padding: 1em;
  position: relative;
}

.time-line::after {
  position: absolute;
  content: '';
  width: .65em;
  height: .65em;
  right: -.35em;
  top: 1.3em;
  border: .05em rgba(63, 81, 181, .8) solid;
  border-radius: .6em;
  background-color: #FFF;
}

.event-info {
  display: flex;
  padding-left: 1em;
}

.event-type .material-icons {
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 5px;
}

.event-source {
  margin-right: 5px;
}

.event-content {
  color: rgba(0, 0, 0, .7);
}