<div class="detail-header">
  <div class="header-info">
    <div class="node-name">{{nodeInfo.name}}</div>
    <div class="node-tag" [ngClass]="nodeInfo.health == 'Error' ? 'error-tag' : 'healthy-tag'"> {{nodeInfo.health}} </div>
    <!-- <div class="node-tag" [ngClass]="nodeInfo.state == 'Online' ? 'online-tag' : 'offline-tag'"> {{nodeInfo.state}} </div> -->
  </div>
</div>
<mat-tab-group [dynamicHeight]="true">
  <mat-tab label="Basic Info">
    <div class="basic-info">
      <div class="charts">
        <div class="chart">
          <div class="area-title">
            <!-- <i class="material-icons title-icon">grid_on</i> -->
            <div>CPU</div>
          </div>
          <chart #cpuChart type="line" [data]="cpuData" [options]="cpuOptions"></chart>
        </div>
        <div class="chart">
          <div class="area-title">
            <!-- <i class="material-icons title-icon">grid_on</i> -->
            <div>GPU</div>
          </div>
          <chart #gpuChart type="line" [data]="gpuData" [options]="gpuOptions"></chart>
        </div>
        <div class="chart">
          <div class="area-title">
            <!-- <i class="material-icons title-icon">network_check</i> -->
            <div>NETWORK</div>
          </div>
          <chart type="line" [data]="networkData" [options]="networkOptions"></chart>
        </div>
        <div class="chart">
          <div class="area-title">
            <!-- <i class="material-icons title-icon">hd</i> -->
            <div>DISK BYTES</div>
          </div>
          <chart type="line" [data]="diskData" [options]="diskOptions"></chart>
        </div>
      </div>
      <div class="node-info">
        <div class="area-title">
          <!-- <i class="material-icons title-icon">grid_on</i> -->
          <div>NODE REGISTRATION INFO</div>
        </div>
        <div class="info-item">
          <div class="overview-title">Core Number</div>
          <div class="overview-value">{{nodeRegistrationInfo.coreCount}}</div>
        </div>
        <div class="info-item">
          <div class="overview-title">Memory</div>
          <div class="overview-value">{{nodeRegistrationInfo.memoryMegabytes}} (Megabytes)</div>
        </div>
        <div class="info-item">
          <div class="overview-title">Socket Count</div>
          <div class="overview-value">{{nodeRegistrationInfo.socketCount}}</div>
        </div>
        <div class="info-item">
          <div class="overview-title">Distro Info</div>
          <div class="overview-value">{{nodeRegistrationInfo.distroInfo}}</div>
        </div>
      </div>
      <div class="node-info">
        <div class="area-title">NETWORK INFO</div>
        <div class="network" *ngFor="let n of nodeRegistrationInfo.networksInfo">
          <div class="info-item">
            <div class="overview-title">Name</div>
            <div class="overview-value">{{n.name}}</div>
          </div>
          <div class="info-item">
            <div class="overview-title">MAC Address</div>
            <div class="overview-value">{{n.macAddress}}</div>
          </div>
          <div class="info-item">
            <div class="overview-title">IPV4</div>
            <div class="overview-value">{{n.ipV4}}</div>
          </div>
          <div class="info-item">
            <div class="overview-title">IPV6</div>
            <div class="overview-value">{{n.ipV6}}</div>
          </div>
          <div class="info-item">
            <div class="overview-title">IsIB</div>
            <div class="overview-value">{{n.isIB}}</div>
          </div>
          <hr/>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Events">
    <div class="events">
      <div class="node-events">
        <div class="area-title">NODE EVENTS</div>
        <app-event-list [events]="events"></app-event-list>
      </div>
      <div class="azure-events">
        <div class="area-title">AZURE SCHEDULED EVENTS</div>
        <app-scheduled-events [events]="scheduledEvents"></app-scheduled-events>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Jobs">
  </mat-tab>
</mat-tab-group>