.detail-header {
  display: flex;
  justify-content: space-between;
  background: #FFF;
  align-items: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border-left: 4px solid #3f51b5;
  padding: 1em;
}

.header-info {
  display: flex;
  align-items: center;
  margin-left: 0.3em;
}

.basic-info {
  display: flex;
  align-items: flex-start;
}

.charts {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  padding: 0 1em;
  /* flex-direction: column; */
}

.chart {
  width: 50%;
  margin-top: 1em;
}

.node-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 1em;
  padding-right: 1.5em;
}

.events {
  display: flex;
  justify-content: space-evenly;
}

.area-title {
  font-size: .9em;
  padding: 1em 0;
  display: flex;
  align-items: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title-icon {
  font-size: 1em;
  padding-right: 0.2em;
}

.node-name {
  font-size: 1.2em;
}

.section {
  margin-top: 1em;
  border-top: 1px dashed;
  padding-top: 1em;
}

chart {
  height: 15em;
}

table {
  width: 100%;
}

td {
  height: 2em;
  padding: 0 0.5em;
  background-color: #e8e7e7;
}

.mat-column-type, .mat-column-status {
  flex: 0.3;
}

.mat-column-resourceType {
  flex: 0.6;
}

.mat-column-id {
  padding-right: 0.5em;
}

.node-name {
  margin-right: 1em;
}

.node-tag {
  color: white;
  margin: 0 0.4em 0 0;
  padding: 0.1em 0.6em;
  font-size: 0.8em;
}

.healthy-tag {
  /* background: #009688; */
  color: #009688;
  border: 1px solid #009688;
}

.online-tag {
  /* background: #3f51b5; */
  color: #3f51b5;
  border: 1px solid #3f51b5;
}

.error-tag {
  /* background: #DC3636; */
  color: #DC3636;
  border: 1px solid #DC3636;
}

.offline-tag {
  background: #9E9E9E;
  color: #FFF;
  border: 1px solid #9E9E9E;
}


/* .node-info{
  display: flex;
} */

.overview-title {
  font-size: .9em;
  /* color: rgba(63, 81, 181, 0.6); */
  color: #7986CB;
  flex: 1;
  /* text-align: right; */
}

.overview-value {
  flex: 3;
  padding-left: .5em;
  font-size: .9em;
  color: rgba(0, 0, 0, .6);
}

.info-item {
  display: flex;
  margin-bottom: 1em;
}

.text-right {
  text-align: right;
}

hr {
  border: none;
  border-top: 1px dashed rgba(63, 81, 181, 0.5);
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 100%;
}

.event {
  display: flex;
  align-items: baseline;
  font-size: .9rem;
  padding: 0 1em;
}

.event-time {
  color: rgba(0, 0, 0, .6);
}

.time-line {
  width: 13em;
  text-align: right;
  font-size: .7rem;
  padding: 0em 2em 0em 1em;
  flex: 1;
}

.azure-event::before, .node-event::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Material Icons';
  width: 2.2em;
  height: 2.2em;
  left: -1.1em;
  top: 1.5em;
  color: #fff;
  border-radius: 50%;
  /* background-color: #FFF; */
}

.azure-event::before {
  content: '\e2c2';
  background-color: #5C6BC0;
}

.node-event::before {
  content: '\e1b1';
  background-color: #4DB6AC;
}

.event-info {
  display: flex;
  position: relative;
  border-left: .1em solid rgba(63, 81, 181, .8);
  padding: 2em 1.5em 2em 2em;
  flex: 10;
}

.azure-event {
  color: rgba(63, 81, 181, .8);
}

.event-type .material-icons {
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 5px;
}

.event-source {
  margin-right: 5px;
}

.event-content {
  color: rgba(0, 0, 0, .7);
}

.network {
  /* padding-top: 1em; */
}

.node-events, .azure-events {
  flex: 1;
}