<div class="detail-header">
  <div class="header-info">
    <div class="node-name">{{nodeInfo.name}}</div>
    <div class="node-tag" [ngClass]="nodeInfo.health == 'Error' ? 'error-tag' : 'healthy-tag'"> {{nodeInfo.health}} </div>
    <!-- <div class="node-tag" [ngClass]="nodeInfo.state == 'Online' ? 'online-tag' : 'offline-tag'"> {{nodeInfo.state}} </div> -->
  </div>
</div>
<mat-tab-group [dynamicHeight]="true">
  <mat-tab label="Basic Info">
    <div class="basic-info">
      <div class="charts">
        <div class="chart">
          <div class="area-title">
            <i class="material-icons title-icon">timeline</i>
            <div>CPU</div>
          </div>
          <div class="overview-title metric-date">
            {{metricDate}}
          </div>
          <chart #cpuChart type="line" [data]="cpuData" [options]="cpuOptions"></chart>
        </div>
        <!-- <div class="chart">
          <div class="area-title">
            <div>GPU</div>
          </div>
          <chart #gpuChart type="line" [data]="gpuData" [options]="gpuOptions"></chart>
        </div>
        <div class="chart">
          <div class="area-title">
            <div>NETWORK</div>
          </div>
          <chart type="line" [data]="networkData" [options]="networkOptions"></chart>
        </div>
        <div class="chart">
          <div class="area-title">
            <div>DISK BYTES</div>
          </div>
          <chart type="line" [data]="diskData" [options]="diskOptions"></chart>
        </div> -->
      </div>
      <div class="node-info">
        <div class="area-title">
          <i class="material-icons title-icon">desktop_windows</i>
          <div>NODE MEATADATA</div>
        </div>
        <div class="info-item">
          <div class="overview-title">Location</div>
          <div class="overview-value">{{compute.location}}</div>
        </div>
        <div class="info-item">
          <div class="overview-title">Name</div>
          <div class="overview-value">{{compute.name}}</div>
        </div>
        <div class="info-item">
          <div class="overview-title">Offer</div>
          <div class="overview-value">{{compute.offer}}</div>
        </div>
        <div class="info-item">
          <div class="overview-title">OS Type</div>
          <div class="overview-value">{{compute.osType}}</div>
        </div>
        <div class="info-item">
          <div class="overview-title">Placement Group ID</div>
          <div class="overview-value">{{compute.placementGroupId}}</div>
        </div>
        <div class="info-item">
          <div class="overview-title">Platform Fault Domain</div>
          <div class="overview-value">{{compute.platformFaultDomain}}</div>
        </div>
        <div class="info-item">
          <div class="overview-title">Platform Update Domain</div>
          <div class="overview-value">{{compute.platformUpdateDomain}}</div>
        </div>
        <div class="info-item">
          <div class="overview-title">Publisher</div>
          <div class="overview-value">{{compute.publisher}}</div>
        </div>
        <div class="info-item">
          <div class="overview-title">Resource Group Name</div>
          <div class="overview-value">{{compute.resourceGroupName}}</div>
        </div>
        <div class="info-item">
          <div class="overview-title">SKU</div>
          <div class="overview-value">{{compute.sku}}</div>
        </div>
        <div class="info-item">
          <div class="overview-title">SubscriptionId</div>
          <div class="overview-value">{{compute.subscriptionId}}</div>
        </div>
        <div class="info-item">
          <div class="overview-title">Tags</div>
          <div class="overview-value">{{compute.tags}}</div>
        </div>
        <div class="info-item">
          <div class="overview-title">Version</div>
          <div class="overview-value">{{compute.version}}</div>
        </div>
        <div class="info-item">
          <div class="overview-title">VM ID</div>
          <div class="overview-value">{{compute.vmId}}</div>
        </div>
        <div class="info-item">
          <div class="overview-title">VM Size</div>
          <div class="overview-value">{{compute.vmSize}}</div>
        </div>
      </div>
      <div class="node-info">
        <div class="area-title">
          <i class="material-icons title-icon">settings_input_antenna</i>
          <div> NETWORK INFO</div>
        </div>
        <div class="network" *ngFor="let n of nodeRegistrationInfo.networksInfo">
          <div class="info-item">
            <div class="overview-title">Name</div>
            <div class="overview-value">{{n.name}}</div>
          </div>
          <div class="info-item">
            <div class="overview-title">MAC Address</div>
            <div class="overview-value">{{n.macAddress}}</div>
          </div>
          <div class="info-item">
            <div class="overview-title">IPV4</div>
            <div class="overview-value">{{n.ipV4}}</div>
          </div>
          <div class="info-item">
            <div class="overview-title">IPV6</div>
            <div class="overview-value">{{n.ipV6}}</div>
          </div>
          <div class="info-item">
            <div class="overview-title">IsIB</div>
            <div class="overview-value">{{n.isIB}}</div>
          </div>
          <hr/>
        </div>
      </div>
      <div class="node-info">
        <div class="area-title">
          <i class="material-icons title-icon">important_devices</i>
          <div>NODE REGISTRATION INFO</div>
        </div>
        <div class="info-item">
          <div class="overview-title">Core Number</div>
          <div class="overview-value">{{nodeRegistrationInfo.coreCount}}</div>
        </div>
        <div class="info-item">
          <div class="overview-title">Memory</div>
          <div class="overview-value">{{nodeRegistrationInfo.memoryMegabytes}} (Megabytes)</div>
        </div>
        <div class="info-item">
          <div class="overview-title">Socket Count</div>
          <div class="overview-value">{{nodeRegistrationInfo.socketCount}}</div>
        </div>
        <div class="info-item">
          <div class="overview-title">Distro Info</div>
          <div class="overview-value">{{nodeRegistrationInfo.distroInfo}}</div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Events">
    <div class="events">
      <div class="node-events">
        <div class="area-title">
          <i class="material-icons title-icon">event</i>
          <div>NODE EVENTS</div>
        </div>
        <app-event-list [events]="events"></app-event-list>
      </div>
      <div class="azure-events">
        <div class="area-title">
          <i class="material-icons title-icon">cloud_queue</i>
          <div>AZURE SCHEDULED EVENTS</div>
        </div>
        <app-scheduled-events [events]="scheduledEvents"></app-scheduled-events>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Jobs">
    <mat-table #table [dataSource]="dataSource">
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let job">
          <div class="icon-cell">
            <i class="material-icons cell-icon" *ngIf="job.type == 'Diagnostics'">local_hospital</i>
            <i class="material-icons cell-icon" *ngIf="job.type == 'ClusRun'">call_to_action</i>
            <a class="cell-text" [routerLink]="getLink(job.id, job.type)">{{job.id}}</a>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
        <mat-cell *matCellDef="let job">
          <div class="icon-cell">
            <i class="material-icons cell-icon">access_time</i>
            <div class="cell-text"> {{job.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="content">
        <mat-header-cell *matHeaderCellDef> Content </mat-header-cell>
        <mat-cell *matCellDef="let job"> {{getJobContent(job)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let job">
          {{job.type}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
        <mat-cell *matCellDef="let job">
          <div class="icon-cell">
            <i class="material-icons cell-icon" [ngClass]="stateClass(job.state)">{{setIcon(job.state)}}</i>
            <div class="cell-text"> {{job.state}} </div>
          </div>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="progress">
        <mat-header-cell *matHeaderCellDef> Progress </mat-header-cell>
        <mat-cell *matCellDef="let job">
          <div class="table-progress">
            <mat-progress-bar class="progress-bar" mode="determinate" [value]="job.progress * 100"></mat-progress-bar>
            <div class="progress-num">{{job.progress | percent}}</div>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="updated">
        <mat-header-cell *matHeaderCellDef> Last Changed </mat-header-cell>
        <mat-cell *matCellDef="let job">
          <div class="icon-cell">
            <i class="material-icons cell-icon">access_alarm</i>
            <div> {{job.updatedAt | date: 'yyyy-MM-dd HH:mm:ss'}} </div>
          </div>
        </mat-cell>
      </ng-container>
    </mat-table>
  </mat-tab>
</mat-tab-group>