app-back-button {
  float: right;
}

.title {
  display: flex;
  align-items: center;
  padding: 1em;

  .name {
    font-weight: bold;
    margin-left: 0.3em;
  }
}

.title.failure {
  color: red;
  background-color: #ffdada;
}

.title.running {
  color: blue;
  background-color: #b3c4ff;
}

.title.success {
  color: green;
  background-color: #d5ffd4;
}

.title.main {
  font-size: 150%;
  clear: both;
}

.time {
  margin-top: 8px;
  font-size: small;
}

.container-fluid {
  margin-top: 1em;
}

.selection, .output {
  max-height: 700px;
  overflow: auto;
  margin-bottom: 1em;
}

mat-form-field {
  width: 100%;
}

mat-row {
  cursor: pointer;
}

mat-row:hover {
  background: rgba(0,0,0,.04);
}

pre {
  color: white;
  background-color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 1em;
  height: 100%;
}
