@import "../../stylesheets/job-result.scss";

.waiting {
  mat-spinner {
    margin: 1em auto;
  }

  text-align: center;
}

.actions {
  margin-top: 1em;
}

.container-fluid {
  margin-top: 1em;
}

.selection,
.output {
  max-height: 800px;
  margin-bottom: 1em;
}

.control.bottom {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-top: 0.5em;

  a {
    color: inherit;
  }

  a .material-icons {
    vertical-align: top;
  }
}

.block-script-title {
  display: inline-block;
  text-decoration: underline solid $color;

  &:hover {
    cursor: pointer;
  }
}

.block-script-content {
  max-height: 50vh;
  overflow-y: auto;
  background: #fff;
  padding: 10px 15px;
  font-size: 14px;
}