.up-to-top {
    position: absolute;
    z-index: 200;
    width: 2.5em;
    height: 2.5em;
    background: rgba(0, 0, 0, .08);
    bottom: .5em;
    right: 2em;
}

.up-to-top:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
}

.upward {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 2em;
    left: 0;
    top: 0.3em;
    bottom: 0;
    right: 0; 
    margin: auto;
    text-align: center;
    color: #3f51b5;
}

.upward:hover {
    color: #FFF;
}