@import "../../../../../../stylesheets/mixin.scss";
@import "../../../../../../stylesheets/info.scss";

.groups {
  @include display-flex($justify-content: space-between, $flex-direction: column);
  overflow: hidden;
}

.mat-expansion-panel-header {
  height: auto !important;
  padding: 10px !important;
}

.mat-expansion-panel-header-title {
  font-size: 14px;
}

::ng-deep .groups .mat-expansion-panel-body {
  padding: 0 0.8em 0.8em;
  font-size: 18px;
}

:host ::ng-deep .total-number {
  padding-top: 0 !important;
}

.solution {
  font-size: 0.85em;
  color: $color;
  padding-bottom: 1em;
}
