@import "../../../../../../stylesheets/mixin.scss";
@import "../../../../../../stylesheets/info.scss";

.overview-result {
  @include display-flex($justify-content: space-between);
  margin-top: 10px;
}

.chart-type {
  @include display-flex($align-items: center);
  margin-top: 10px;
}

.chart-btn {
  height: 2em;
  font-size: .8em;
  line-height: 2em;
  padding: 0 1em;
  color: #FFF;
  background-color: rgba(63, 81, 181, .2);
  text-align: center;
}

.chart-btn:hover {
  cursor: pointer;
}

.chart-btn.active {
  color: #FFF;
  background-color: rgba(63, 81, 181, .9);
}

.overview-header {
  @include display-flex($align-items: flex-start);
}

.select-node {
  margin-top: .7em;
  margin-left: 2em;
}

.mat-select {
  font-size: .9em;
}

.pair-name {
  padding-right: .5em;
}

.result-pair {
  flex: 2;
}

.mat-expansion-panel-header {
  height: auto !important;
  padding: 10px !important;
}

.mat-expansion-panel-header-title {
  font-size: 14px;
}

.result-pair {
  overflow: hidden !important;
}

::ng-deep .result-pair .mat-expansion-panel-body {
  padding: 0 0.8em 0.8em;
  font-size: 16px; // overflow: hidden !important;

  .pair-area {
    max-height: 400px;
    overflow: auto;
    padding-right: 10px;
    font-size: 13px;
  }
}

mat-accordion {
  height: 100%;
}

.solution {
  font-size: 0.85em;
  color: $color;
  height: auto !important;
  align-items: flex-start !important;
}

.solution-text {
  overflow: visible !important;
  white-space: pre-wrap !important;
}

.overview-result .node-name {
  text-decoration: none;
}

.failed-pair {
  @include display-flex($align-items: center);
  height: 2.5em;
  padding: 0 5px;

  &:hover {
    background-color: #eeeeee;
  }

  .node-name {
    margin-right: 5px;
    text-decoration: underline;
  }
}
