@import "../../../../stylesheets/mixin.scss";
@import "../../../../stylesheets/info.scss";

.nodes-info {
  font-size: 13px;
  @include display-flex($align-items: center);
  flex-wrap: wrap;
}

.node {
  width: 20%;
  text-decoration: none;
}

.total-number {
  padding: 10px;
  padding-bottom: 0;
  color: $color;
  font-size: 14px;
}
