@import "../../../../stylesheets/mixin.scss";
@import "../../../../stylesheets/info.scss";

.nodes-info {
  padding: 0 1em;
  font-size: 13px;
  @include display-flex($align-items: center);
  flex-wrap: wrap;
}

.node {
  width: 20%;
  text-decoration: none;
}
