@import "../../stylesheets/mixin.scss";
.card {
    border: 1px solid rgba(177, 181, 188, .3);
    background-color: #FFF;
    padding: 1em;
    @include font-basic(inherit, rgba(0, 0, 0, .7));
}

.headline {
    @include display-flex($justify-content: space-between);
    .name {
        font-size: .9em;
    }
    border-bottom: 1px solid rgba(177, 181, 188, .3);
    margin-bottom: .5em;
    padding-bottom: .5em;
}

.detail-icon {
    font-size: 1.2em;
}

.outline {
    @include display-flex;
}

.icon {
    @include width-height(3em, 3em);
    @include border-radius(50%);
    @include display-flex(center, center);
    color: #ffffff;
    &.OK {
        background-color: rgba(45, 168, 117, .9);
    }
    &.Warning {
        background-color: rgba(232, 199, 37, 0.9);
    }
    &.Error {
        background-color: rgba(206, 80, 57, .9);
    }
    &.job {
        background-color: rgba(28, 86, 188, .9);
    }
}

.info {
    @include display-flex($justify-content: space-between, $flex-direction: column);
    padding-left: 1.2em;
}

.info-title {
    font-size: .7em;
    font-weight: 400;
}

.info-content {
    font-size: 1.2em;
    font-weight: 500;
}

.info-content,
.info-title {
    .OK {
        color: rgba(47, 196, 134, .8);
    }
    .Warning {
        color: rgba(209, 147, 23, .9);
    }
    .Error {
        color: rgba(206, 80, 57, .9);
    }
}

.detail {
    @include display-flex(center);
    .info-title {
        font-size: .6em;
    }
    &:hover {
        cursor: pointer;
    }
    margin-left: 1em;
}

.card-content {
    position: relative;
}

.shade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(255, 255, 255, .7);
    .progress {
        @include display-flex(center, center);
        height: 100%;
    }
}