@import "./mixin.scss";

.filter mat-form-field {
  width: 100%;
  margin-bottom: 1em;
}

mat-header-cell {
  font-size: .8em;
}

.mat-row>.mat-cell {
  font-size: .8em;
}

.mat-row .icon-cell {
  padding: 0
}

.mat-row a {
  color: #3b46da;
}

.mat-row,
.mat-header-row {
  min-height: 40px;
}

.mat-column-select {
  overflow: initial;
  flex: 0.2;
}

.mat-column-actions {
  flex: 0.2;
  text-align: right;
}

.finished {
  color: #2E7D32;
}

.queued {
  color: #FF8F00;
}

.failed {
  color: #D84315;
}

.running {
  color: #283593;
}

.canceled {
  color: #6c727c;
}

.table-progress {
  @include display-flex(center, center);
  width: 100%;
  padding: 0 10px;

  .progress-bar {
    width: 75%;
  }

  .progress-num {
    width: 25%;
    padding-left: .3em;
  }
}

.icon-cell {
  @include display-flex(center);
  min-width: 2em;
  padding: 0 10px;
}

.cell-icon {
  font-size: 1.5em;
  width: auto;
  height: auto;
  margin-right: .3em;
  text-align: right;
}

.cell-text {
  @include ellipsis-text;
  text-align: left;
}

.wd-30 {
  width: 30%;
}

.wd-70 {
  width: 70%;
}

.wd-20 {
  width: 20%;
}

.wd-80 {
  width: 80%;
}

.wd-10 {
  width: 10%;
}

.wd-90 {
  width: 90%;
}

.btn-icon {
  font-size: 1.3em;
  padding-right: .3em;
}

.actions {
  margin-bottom: 1em;
}

.action-btn {
  @include display-flex(center);
}

.actions button {
  margin-right: .5em;
}

.list-container {
  width: 100%;
  overflow-x: hidden;
  font-size: .8em;

  ::ng-deep .mat-checkbox-inner-container {
    width: 19px !important;
    height: 19px !important;
  }
}

.list-content {
  height: calc(100vh - 205px);
  position: relative;
  width: 100%;
  margin-bottom: 5px;

  a:link,
  a:visited {
    color: $color;
  }
}

.list-item,
.list-header {
  @include display-flex(center);
  height: 40px;
  width: 100%;
  background: #ffffff;
  padding: 5px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.list-header-scrolled {
  padding-right: 20px;
}

@mixin none-animation {
  animation: none !important;
  transition-property: none !important;
}

:host ::ng-deep .mat-progress-bar .mat-progress-bar-buffer {
  @include none-animation;
}

:host ::ng-deep .mat-progress-bar .mat-progress-bar-fill {
  @include none-animation;
}

:host ::ng-deep .cdk-virtual-scroll-content-wrapper {
  right: 0;
}

.list-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(238, 238, 238, .55);
  z-index: 100;
  @include display-flex(center, center);
}

.color-icon {
  color: $color;
}

.list-header .header {
  padding: 0 10px;
}


.list-item:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
