@import "./mixin.scss";
.filter mat-form-field {
    width: 100%;
    margin-bottom: 1em;
}

mat-header-cell {
    font-size: .8em;
}

.mat-row>.mat-cell {
    font-size: .8em;
}

.mat-row:hover {}

.mat-row a {
    color: #3b46da;
}

.mat-cell,
.mat-header-cell {
    padding: 0 2px; // text-align: center;  
}

.mat-row,
.mat-header-row {
    min-height: 40px;
    padding: 0 10px;
}

.mat-column-select {
    overflow: initial;
    flex: 0.2;
}

.mat-column-actions {
    flex: 0.2;
    text-align: right;
}

.finished {
    color: #2E7D32;
}

.queued {
    color: #FF8F00;
}

.failed {
    color: #D84315;
}

.running {
    color: #283593;
}

.canceled {
    color: #6c727c;
}

.table-progress {
    @include display-flex(center, center);
    width: 100%;
    .progress-bar {
        width: 75%;
    }
    .progress-num {
        width: 25%;
        padding-left: .3em;
    }
}

.icon-cell {
    @include display-flex(center);
    min-width: 2em;
}

.cell-icon {
    font-size: 1.5em;
    width: auto;
    height: auto;
    margin-right: .3em;
    text-align: right;
}

.cell-text {
    @include ellipsis-text;
    text-align: left;
}

.wd-30 {
    width: 30%;
}

.wd-70 {
    width: 70%;
}

.wd-20 {
    width: 20%;
}

.wd-80 {
    width: 80%;
}

.wd-10 {
    width: 10%;
}

.wd-90 {
    width: 90%;
}

.btn-icon {
    font-size: 1.3em;
    padding-right: .3em;
}

.actions {
    margin-bottom: 1em;
}

.action-btn {
    @include display-flex(center);
}

.actions button {
    margin-right: .5em;
}