<div class="event" *ngFor="let event of events">
  <div class="time-line">
    <div class="event-time">{{event.time | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
  </div>
  <div class="event-info" [ngClass]="eventType(event.source,event.type)">
    <div class="info-detail">
      <div class="event-content">{{event.content.exception}}</div>
      <div class="event-content" *ngIf="event.content.showDetail">
        <div *ngFor="let trace of event.content.errorStack"> {{trace}} </div>
      </div>
    </div>
    <div *ngIf="event.content.errorStack">
      <button mat-icon-button (click)="showEventDetail(event)">
        <mat-icon *ngIf="!event.content.showDetail">zoom_in</mat-icon>
        <mat-icon *ngIf="event.content.showDetail">zoom_out</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="event empty-msg" *ngIf="events.length < 1">
  {{message}}
</div>