.event {
  display: flex;
  align-items: baseline;
  font-size: .9rem;
  padding: 0 1em;
}

.event-time {
  color: rgba(0, 0, 0, .6);
}

.time-line {
  width: 13em;
  text-align: right;
  font-size: .7rem;
  padding: 0em 2em 0em 1em;
  flex: 2;
}

.node-information::before, .node-warning::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Material Icons';
  padding: .4em;
  font-size: 1.3em;
  left: -.9em;
  top: 1.1em;
  color: #fff;
  border-radius: 50%;
}

.azure-event::before {
  content: '\e2c2';
  background-color: #5C6BC0;
}

.node-information::before {
  content: '\e1b1';
  background-color: #4DB6AC;
}

.node-warning::before {
  content: '\e1b1';
  background-color: #dd5013;
}

.event-info {
  display: flex;
  position: relative;
  border-left: .13em solid rgba(110, 122, 140, .6);
  padding: 2em 1.5em 2em 2em;
  flex: 10;
}

.azure-event {
  color: rgba(63, 81, 181, .8);
}

.event-type .material-icons {
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 5px;
}

.event-source {
  margin-right: 5px;
}

.event-content {
  color: rgba(0, 0, 0, .7);
}