.app-container {
  min-height: 900px;
}

.main-container {
  padding: 1em;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.home {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.home:visited {
  color: inherit;
}

.home h1 {
  display: inline-block;
  margin-left: 4px;
}

.active {
  background-color: #fafafa;
}

.title {
  margin-left: 10px;
}

app-breadcrumb {
  margin-left: 1.5em;
  font-size: 72%;
}

.notification-num {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  top: 2px;
  right: 2px;
  border-radius: 50%;
  background-color: #ff0833;
}

.notification-num.hidden {
  display: none;
}

.mat-menu-item {
  display: flex;
  align-items: center;
}

.menu-item-text {
  margin-left: 0.5em;
}

.nav-list{
  color: #575e68;
}
