@import "../../stylesheets/mixin.scss";

.right-window-area {
  position: fixed;
  right: 0;
  top: 64px;
  bottom: 0;
  z-index: 1000;
  background: #ffffff;
  @include box-s(-5px, 0px, 10px, #eeeeee);
  padding: 10px;
}

.left-window-area {
  position: fixed;
  left: 0;
  top: 64px;
  bottom: 0;
  z-index: 1000;
  background: #ffffff;
  @include box-s(0px, -5px, 10px, #eeeeee);
  padding: 10px;
}

.window-header {
  @include display-flex(center, space-between);

  .close-btn {
    cursor: pointer;
  }
}
