<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <app-user-info></app-user-info>
    </div>
    <div class="col-lg-4">
      <app-expense-info></app-expense-info>
    </div>
    <div class="col-lg-4">
      <app-alert-info></app-alert-info>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <dashboard-node-health-history></dashboard-node-health-history>
    </div>
    <div class="col-lg-6">
      <dashboard-location></dashboard-location>
    </div>
  </div>
</div>