<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <dashboard-node-state state="OK" [total]="totalNodes" stateIcon="lightbulb_outline" [stateNum]="nodes.OK"></dashboard-node-state>
    </div>
    <div class="col-lg-4">
      <dashboard-node-state state="Warning" [total]="totalNodes" stateIcon="alarm" [stateNum]="nodes.Warning"></dashboard-node-state>
    </div>
    <div class="col-lg-4">
      <dashboard-node-state state="Error" [total]="totalNodes" stateIcon="do_not_disturb" [stateNum]="nodes.Error"></dashboard-node-state>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <dashboard-job-overview jobCategory="Diagnostics" [jobs]="diags" icon="local_hospital"></dashboard-job-overview>
    </div>
    <div class="col-lg-6">
      <dashboard-job-overview jobCategory="ClusRun" [jobs]="clusrun" icon="call_to_action"></dashboard-job-overview>
    </div>
  </div>
</div>
