<div class="container-fluid">
<div class="row">
  <div class="col-lg-4">
    <dashboard-node-health></dashboard-node-health>
  </div>
  <div class="col-lg-4">
    <dashboard-node-state></dashboard-node-state>
  </div>
  <div class="col-lg-4">
    <dashboard-jobs></dashboard-jobs>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <dashboard-node-health-history></dashboard-node-health-history>
  </div>
  <div class="col-lg-6">
    <dashboard-location></dashboard-location>
  </div>
</div>
</div>
