<h2 mat-dialog-title>Run Command</h2>
<mat-dialog-content>
  <mat-form-field class="cmd-line">
    <input [(ngModel)]="command" (keyup.enter)="close()" matInput placeholder="Your command here" value="">
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="timeout" (keyup.enter)="close()" matInput placeholder="command timeout" type="number">
    <span matSuffix>sec</span>
  </mat-form-field>
  <section class="checkbox-section">
    <mat-checkbox color="primary" [(ngModel)]="multiCmds">Multi-commands View</mat-checkbox>
  </section>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
  <button mat-raised-button (click)="close()">Run</button>
</mat-dialog-actions>
