<h2 mat-dialog-title>Run Command</h2>
<mat-dialog-content>
  <div class="cmd-mode">
    <mat-radio-group [(ngModel)]="commandLine">
      <mat-radio-button value="single" color="primary" class="radio-btn">
        Single Line Command
      </mat-radio-button>
      <mat-radio-button value="multiple" color="primary" class="radio-btn">
        Script Block ( Linux )
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-form-field>
    <input [(ngModel)]="timeout" (keyup.enter)="close()" matInput placeholder="command timeout" type="number" class="timeout-text">
    <span matSuffix>sec</span>
  </mat-form-field>
  <!-- <mat-form-field class="cmd-line">
    <input [(ngModel)]="command" (keyup.enter)="close()" matInput placeholder="Your command here" value="">
  </mat-form-field> -->

  <div class="row">
    <mat-form-field class="col-md-12" *ngIf="commandLine == 'single'">
      <input matInput placeholder="New single line command here, press enter to excute" [(ngModel)]='command'
        (keyup.ArrowUp)="getPreviousCmd()" (keyup.ArrowDown)="getNextCmd()" (keyup.Enter)="close()">
    </mat-form-field>
    <mat-form-field class="col-md-12" *ngIf="commandLine == 'multiple'">
      <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="15"
        placeholder="New script block here, press ctrl+enter to excute" [(ngModel)]='command' (keyup.ArrowUp)="getPreviousCmd()"
        (keyup.ArrowDown)="getNextCmd()" (keyup.control.Enter)="close()"></textarea>
    </mat-form-field>
  </div>

  <section class="checkbox-section">
    <mat-checkbox color="primary" [(ngModel)]="multiCmds">Multi-commands View</mat-checkbox>
  </section>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button [mat-dialog-close]="false">Cancel</button>
  <button mat-flat-button color="primary" (click)="close()">Run</button>
</mat-dialog-actions>
