mat-vertical-stepper {
  clear: both;
}

mat-dialog-actions {
  justify-content: flex-end;
}

.cmd-line {
  width: 100%;
}

.checkbox-section {
  height: 60px;
}

.timeout-text {
  font-size: 14px;
}

.radio-btn {
  padding-right: 15px;
  margin-bottom: 15px;
  font-size: 14px;
}
