app-back-button {
  float: right;
}

mat-vertical-stepper {
  clear: both;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
}

mat-radio-button {
  margin: 0.2em;
}

.filter {
  min-width: 20em;
}

.cmd-line {
  width: 100%;
}

