@import "../../stylesheets/dashboard.scss";
chart {
    height: 360px;
}

.card {
    @include display-flex($flex-direction: column);
    .job-overview {
        @include display-flex($justify-content: space-between);
    }
    padding-bottom: .5em;
}

.mat-button-toggle-checked {
    color: #3f51b5;
    background: #FFF;
    border-left: 3px solid #3f51b5;
}

.total-info {
    display: flex;
    justify-content: space-between;
}

.info-content-total {
    font-size: 1.2em;
    font-weight: 500;
}

.info-content {
    @include display-flex($align-items: center, $justify-content: space-between);
    font-size: .9em;
    margin-top: .7em;
}

.job-item {
    padding: 0em .8em 0em .5em;
    margin: .3em 0;
    display: inline-block;
    min-width: 3em;
}

.item-title {
    border-left: 3px solid rgba(28, 86, 188, .9);
    padding-left: .5em;
    font-size: .75em;
}

.info-content-total .active {
    color: rgba(28, 86, 188, .9);
}

.Queued {
    border-left-color: rgba(66, 134, 244, .8);
}

.Finishing {
    border-left-color: rgba(153, 229, 100, .8);
}

.Finished {
    border-left-color: rgba(47, 196, 134, .8);
}

.Running {
    border-left-color: rgba(63, 81, 181, .8);
}

.Canceling {
    border-left-color: rgba(232, 199, 37, .8);
}

.Canceled {
    border-left-color: rgba(206, 206, 206, .8);
}

.Failed {
    border-left-color: rgba(229, 83, 57, .8);
}

.job-chart {
    background: #FFF;
}

.operation {
    @include display-flex;
}

.card-content {
    position: relative;
}

.shade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(255, 255, 255, .7);
    .progress {
        @include display-flex(center, center);
        height: 100%;
    }
}