.filter mat-form-field {
  width: 100%;
  margin-bottom: 1em;
}

.mat-header-row {
  background-color: #e6e6e6;
}

.node.success {
  background-color: #d5ffd4;
}

.node.failure {
  background-color: #ffdada;
}

.node {
  cursor: pointer;
}
