<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="['..', 'list']" [active]="false">List</a>
  <a mat-tab-link [routerLink]="" [active]="true">Heatmap</a>
</nav>

<div class="selectedCategory">
  <mat-form-field>
    <mat-select placeholder="Select Category" [(ngModel)]="selectedCategory" (selectionChange)="categoryCtrl()">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="mode-type">
    <div class="mode-btn" *ngFor="let way of ways" [class.active]="activeMode == way" (click)="setActiveMode(way)">{{way}}</div>
  </div>
</div>
<heatmap-cpu [activeMode]="activeMode" [nodes]="nodes"></heatmap-cpu>