nav {
  margin-bottom: 1em;
}

.tile {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 2px;
  border-radius: 4px;
  background-color: gray;
  cursor: pointer;
}

.tile.ten {
  background-color: #E8EAF6;
}

.tile.twenty {
  background-color: #C5CAE9;
}

.tile.thirty {
  background-color: #9FA8DA;
}

.tile.forty {
  background-color: #7986CB;
}

.title.fifty{
  background-color: #5C6BC0;
}

.tile.sixty {
  background-color: #3F51B5;
}

.tile.seventy{
  background-color: #303F9F;
}

.tile.eighty {
  background-color: #283593;
}

.tile.ninety{
  background-color: #1A237E;
}

.selectedCategory {
  display: flex;
}