@import "../../stylesheets/mixin.scss";
nav {
    margin-bottom: 1em;
}

.selectedCategory {
    @include display-flex;
}

.mode-type {
    @include display-flex($align-items: center);
    margin-left: 2.5em;
}

.mode-btn {
    height: 2em;
    font-size: .8em;
    line-height: 2em;
    padding: 0 1em;
    color: #FFF;
    background-color: rgba(63, 81, 181, .2);
    text-align: center;
}

.mode-btn:hover {
    cursor: pointer;
}

.mode-btn.active {
    color: #FFF;
    background-color: rgba(63, 81, 181, .9);
}