@import "../../stylesheets/mixin.scss";
@import "../../stylesheets/table.scss";

nav {
  margin-bottom: 1em;
}

.mat-column-runningJobCount,
.mat-column-coreCount,
.mat-column-memory,
.mat-column-state,
.mat-column-eventCount {
  flex: 0.5;
}

.mat-column-os {
  flex: 2;
}

.mat-column-name {
  flex: 0.8;
}

.mat-column-health {
  flex: 1;
}

.mat-cell.mat-column-os {
  @include ellipsis-text;
}

.mat-column-runningJobCount,
.mat-column-coreCount,
.mat-column-memory,
.mat-column-eventCount {
  justify-content: flex-end;
}

.online {
  color: $color;
}

.offline {
  color: #6c727c;
}

.healthy {
  color: $color;
}

.error {
  color: #D84315;
}

.node-error {
  padding-left: 3px;
}

.inline {
  display: inline;
}
