<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="" [active]="true">List</a>
  <a mat-tab-link [routerLink]="['..', 'heatmap']" [active]="false">Heatmap</a>
</nav>

<div class="actions">
  <button mat-raised-button (click)="customizeTable()">Customize Columns...</button>
  <button mat-raised-button [disabled]="hasNoSelection()" (click)="runDiagnostics()">Run Diagnostics...</button>
  <button mat-raised-button [disabled]="hasNoSelection()" (click)="runCommand()">Run Command...</button>
</div>

<div class="filter">
  <mat-form-field>
    <input matInput (keyup)="updateUrl()" [(ngModel)]="query.filter" placeholder="Filter">
    <mat-hint>Filter results by node name, health or state</mat-hint>
    <mat-hint align="end">{{dataSource.filteredData.length}} results</mat-hint>
  </mat-form-field>
</div>

<mat-table #table [dataSource]="dataSource">
  <!--
   Note that these columns can be defined in any order. The actual rendered
   columns are set as a property on the row definition, that is displayedColumns."
  -->

  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="false">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let node">
      <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(node) : null"
                    [checked]="selection.isSelected(node)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let node"><a [routerLink]="['..', node.id]">{{node.name}}</a></mat-cell>
  </ng-container>

  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
    <mat-cell *matCellDef="let node"> {{node.state | titlecase }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="health">
    <mat-header-cell *matHeaderCellDef> Health </mat-header-cell>
    <mat-cell *matCellDef="let node"> {{node.health | titlecase }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="runningJobCount">
    <mat-header-cell *matHeaderCellDef> Jobs </mat-header-cell>
    <mat-cell *matCellDef="let node"> {{node.runningJobCount}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="eventCount">
    <mat-header-cell *matHeaderCellDef> Events </mat-header-cell>
    <mat-cell *matCellDef="let node"> {{node.eventCount}} </mat-cell>
  </ng-container>

  <!-- <ng-container matColumnDef="memory">
    <mat-header-cell *matHeaderCellDef> Memory </mat-header-cell>
    <mat-cell *matCellDef="let node" title="MB"> {{node.system.memory}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="os">
    <mat-header-cell *matHeaderCellDef> OS </mat-header-cell>
    <mat-cell *matCellDef="let node" [title]="node.system.os"> {{node.system.os}} </mat-cell>
  </ng-container> -->

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let node">
      <button mat-icon-button [matMenuTriggerFor]="appMenu" (click)="$event.stopPropagation(); select(node)">
        <i class="material-icons">more_horiz</i>
      </button>
    </mat-cell>
  </ng-container>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="runDiagnostics()">Run Diagnostics...</button>
    <button mat-menu-item (click)="runCommand()">Run Command...</button>
  </mat-menu>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let node; columns: displayedColumns;" (click)="selection.toggle(node)"></mat-row>
</mat-table>
