@import "../../stylesheets/mixin.scss";
@import "../../stylesheets/table.scss";

nav {
  margin-bottom: 1em;
}

.node-checkbox {
  flex: 0.2;
}

.node-runningJobCount,
.node-coreCount,
.node-memory,
.node-state,
.node-eventCount,
.node-health {
  flex: 0.5;
}

.node-os {
  flex: 2;
}

.node-name {
  flex: 0.8;
}

.node-os {
  @include ellipsis-text;
}

.node-runningJobCount,
.node-coreCount,
.node-memory,
.node-eventCount {
  justify-content: flex-end;
}

.online {
  color: $color;
}

.offline {
  color: #6c727c;
}

.healthy {
  color: $color;
}

.error {
  color: #D84315;
}

.node-error {
  padding-left: 3px;
}

.inline {
  display: inline;
}

.list-content {
  height: 65vh;
  position: relative;
  width: 100%;
}