@import "../../stylesheets/mixin.scss";
@import "../../stylesheets/table.scss";
nav {
    margin-bottom: 1em;
}

.actions {
    margin-bottom: 1em;
}

.mat-column-runningJobCount,
.mat-column-coreCount,
.mat-column-memory,
.mat-column-health,
.mat-column-state,
.mat-column-eventCount {
    flex: 0.5;
}

.mat-column-os {
    flex: 2;
}

.mat-column-name {
    flex: 0.8;
}

.mat-cell.mat-column-os {
    @include ellipsis-text;
}

.mat-column-runningJobCount,
.mat-column-coreCount,
.mat-column-memory,
.mat-column-eventCount {
    text-align: right;
}

.online {
    color: $color;
}

.healthy {
    color: $color;
}