<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="" [active]="true">List</a>
  <a mat-tab-link [routerLink]="['..', 'heatmap']" [active]="false">Heatmap</a>
</nav>

<div class="actions">
  <button mat-raised-button (click)="customizeTable()">
    <div class="action-btn">
      <i class="material-icons btn-icon">settings</i>
      <div class="action-text">Customize Columns...</div>
    </div>
  </button>
  <button mat-raised-button [disabled]="hasNoSelection()" (click)="runDiagnostics()">
    <div class="action-btn">
      <i class="material-icons btn-icon">local_hospital</i>
      <div class="action-text">Run Diagnostics...</div>
    </div>
  </button>
  <button mat-raised-button [disabled]="hasNoSelection()" (click)="runCommand()">
    <div class="action-btn">
      <i class="material-icons btn-icon">call_to_action</i>
      <div class="action-text">Run Command...</div>
    </div>
  </button>
</div>

<div class="filter">
  <mat-form-field>
    <input matInput (keyup)="updateUrl()" [(ngModel)]="query.filter" placeholder="Filter">
    <mat-hint>Filter results by node name, health or state</mat-hint>
    <mat-hint align="end">{{dataSource.filteredData.length}} results</mat-hint>
  </mat-form-field>
</div>

<div class="list-container">
  <div class="list-header" [ngClass]="{'list-header-scrolled': showScrollBar}">
    <div class="header node-checkbox">
      <mat-checkbox color="primary" (change)="$event ? masterToggle() : null" [checked]="selectedNodes.length > 0 && isAllSelected()">
      </mat-checkbox>
    </div>
    <div class="header node-name" [ngStyle]="getColumnOrder('name')">
      Name
    </div>
    <div class="header node-state" [ngStyle]="getColumnOrder('state')">
      State
    </div>
    <div class="header node-os" [ngStyle]="getColumnOrder('os')">
      OS
    </div>
    <div class="header node-runningJobCount" [ngStyle]="getColumnOrder('runningJobCount')">
      Jobs
    </div>
    <div class="header node-memory" [ngStyle]="getColumnOrder('memory')">
      Memory( MB )
    </div>
  </div>

  <div class="list-content">
    <cdk-virtual-scroll-viewport itemSize="40" #content class="list-content" (scrolledIndexChange)="indexChanged($event)">
      <div *cdkVirtualFor="let node of dataSource; templateCacheSize: 0; trackBy: trackByFn.bind(this)" class="list-item"
        (click)="updateSelectedNodes(node)">
        <div class="icon-cell node-checkbox">
          <mat-checkbox color="primary" (click)="$event.stopPropagation();" (change)="$event? updateSelectedNodes(node) : null"
            [checked]="isSelected(node)">
          </mat-checkbox>
        </div>

        <div class="icon-cell node-name" [ngStyle]="getColumnOrder('name')">
          <i class="material-icons cell-icon">desktop_windows</i>
          <a [routerLink]="['..',node.id]" class="cell-text">{{node.id}}</a>
        </div>

        <div class="icon-cell node-health" [ngStyle]="getColumnOrder('state')">
          <i class="material-icons cell-icon healthy" *ngIf="node.health == 'OK'">check</i>
          <i class="material-icons cell-icon error" *ngIf="!(node.health == 'OK')">error_outline</i>
          <div class="cell-text">{{node.health | titlecase}}</div>
        </div>

        <div class="icon-cell node-os" [ngStyle]="getColumnOrder('os')">
          <i class="material-icons cell-icon" *ngIf="node.state == 'Online'">devices_other</i>
          <div class="cell-text">{{node.nodeRegistrationInfo.distroInfo}}</div>
        </div>

        <div class="icon-cell node-runningJobCount" [ngStyle]="getColumnOrder('runningJobCount')">
          <div class="cell-text">{{node.runningJobCount}}</div>
        </div>

        <div class="icon-cell node-memory" [ngStyle]="getColumnOrder('memory')">
          <div class="cell-text">{{node.nodeRegistrationInfo.memoryMegabytes}}</div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
    <app-scroll-to-top [scrolled]="scrolled" [targetEle]="content"></app-scroll-to-top>

    <div class="list-loading" *ngIf="empty">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>

<app-loading-progress-bar [loadFinished]="loadFinished" [hidden]="!loading || !scrolled" class="virtual-scroll-loading"></app-loading-progress-bar>
