@import '../../stylesheets/mixin.scss';

.content {
  display: flex;
  justify-content: center;
  font-family: $font-stack;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.label {
  flex: 0;
  margin: 0.5em;
}

.box {
  flex: 1;
  border: 2px dashed;
  margin: 0 0.5em;
}

.name {
  background-color: #4d6bd6;
  padding: 6px;
  margin: 6px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
}

mat-dialog-actions {
  justify-content: flex-end;
}

.dialog-title {
  @include display-flex(center);
}

.title-icon {
  padding-right: .3em;
}
