<h2 mat-dialog-title>
  <div class="dialog-title">
    <i class="material-icons title-icon">settings</i>
    <div> Customize Columns </div>
  </div>
</h2>
<mat-dialog-content>
  <div class="content">
    <div class='column'>
      <div class="label">Options</div>
      <div class='box' [dragula]='"columns"' [(dragulaModel)]='options'>
        <div *ngFor='let item of options' class="name">{{item.displayName}}</div>
      </div>
    </div>
    <div class='column'>
      <div class="label">Selected</div>
      <div class='box' [dragula]='"columns"' [(dragulaModel)]='selected'>
        <div *ngFor='let item of selected' class="name">{{item.displayName}}</div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Cancel</button>
  <button mat-raised-button (click)="close(result)">Apply</button>
</mat-dialog-actions>
