.card {
    border: 1px solid rgb(177, 181, 188, .3);
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    padding: 1em;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: rgba(0, 0, 0, .7);
}

.outline {
    display: flex;
}

.icon {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgba(28, 86, 188, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.2em;
}

.info-title {
    font-size: .65em;
    font-weight: 400;
}

.info-content {
    font-size: 1.2em;
    font-weight: 500;
}

.info-content .active {
    color: rgba(28, 86, 188, .9);
}