@import "../../stylesheets/mixin.scss";

.loading {
  display: flex;
  justify-content: center;
  font-family: $font-stack;
}

.load-info {
  color: #3f51b5;
  font-size: .9em;
}

.load-area {
  display: flex;
  justify-content: center;
}

.loading-text {
  padding-left: 10px;
}
