<h2 mat-dialog-title>Run Command</h2>
<mat-dialog-content>
  <mat-form-field class="cmd-line">
    <input [(ngModel)]="command" matInput placeholder="Your command here" value="" (keyup.enter)="runCmd()">
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="timeout" (keyup.enter)="runCmd()" matInput placeholder="command timeout" type="number">
    <span matSuffix>sec</span>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button [mat-dialog-close]="false">Cancel</button>
  <button mat-flat-button color='primary' (click)="runCmd()">Run</button>
</mat-dialog-actions>
