<div class="card">
  <div class="icon">
    <i class="material-icons">notifications_none</i>
  </div>
  <div class="info">
    <div class="info-title">
      ALERT
    </div>
    <div class="info-content">
      <span class="alert"> 3 </span>
    </div>
  </div>
  <div class="info">
    <div class="info-title">
      NOTIFICATION
    </div>
    <div class="info-content">
      <span class="notification"> 25 </span>
    </div>
  </div>
  <div class="detail">
    <i class="material-icons">more_horiz</i>
  </div>
</div>