@import "../stylesheets/mixin.scss";
.app-container {
    min-height: 900px;
    margin-top: 64px;
}

.main-container {
    padding: 1em;
}

mat-sidenav.sidenav {
    position: fixed;
    top: 64px;
    left: 0;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
}

.home {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.home:visited {
    color: inherit;
}

.home h1 {
    display: inline-block;
    margin-left: 4px;
}

.active {
    background-color: #fafafa;
    color: #3f51b5;
    /* border-left: 3px solid #3f51b5; */
}

.title {
    margin-left: 10px;
}

app-breadcrumb {
    margin-left: 1.5em;
    font-size: 72%;
}

.notification-num {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    top: 2px;
    right: 2px;
    border-radius: 50%;
    background-color: #ff0833;
}

.notification-num.hidden {
    display: none;
}

.mat-menu-item {
    display: flex;
    align-items: center;
}

.menu-item-text {
    margin-left: 0.5em;
}

.nav-icon {
    font-size: 1.1em;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.account {
    width: auto;
    margin-right: 5px;
}

.menu-item {
    color: #000;
    font-size: .9em;
}

.sign-out {
    color: #000;
    text-align: center;
    display: inline-block;
    width: 100%;
    text-decoration: none;
}