<div class="card">
    <div class="total-info col-lg-5">
        <div class="icon">
            <i class="material-icons">location_on</i>
        </div>
        <div class="info">
            CLUSTER LOCATION
        </div>
    </div>
    <div class="detail">
        <i class="material-icons">zoom_out_map</i>
    </div>
</div>
<iframe height="400" frameborder="0" style="border:0;width:100%" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJJ-sTJdeHsjURMhyqNmG7-jU&key=AIzaSyCmm_twrpboqI-CwQuC_bZ4_yupbe99dio&zoom=1"
    allowfullscreen></iframe>