.card {
  border: 1px solid rgb(177, 181, 188, .3);
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  padding: .5em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: rgba(0, 0, 0, .7);
}

.total-info {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: rgba(28, 86, 188, .9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1.5em;
}

.info {
  display: flex;
  align-items: center;
  font-size: 1em;
  font-weight: 500;
}

.info-title {
  font-size: .65em;
  font-weight: 400;
}

.info-content-total {
  font-size: 1.2em;
  font-weight: 500;
}

.info-content {
  font-size: .9em;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.health-item {
  padding: .2em .8em .2em .5em;
  border-left: 3px solid rgba(28, 86, 188, .9);
  margin: .3em 0;
  display: inline-block;
  min-width: 3em;
}

.info-content .active {
  color: rgba(28, 86, 188, .9);
}

.OK {
  border-left-color: rgba(47, 196, 134, .8);
}

.Transitional {
  border-left-color: rgba(63, 81, 181, .8);
}

.Unapproved {
  border-left-color: rgba(206, 206, 206, .8);
}

.Warning {
  border-left-color: rgba(232, 199, 37, .8);
}

.Error {
  border-left-color: rgba(229, 83, 57, .8);
}

.node-health {
  background: #FFF;
  border: 1px solid rgb(177, 181, 188, .3);
  border-top: none;
}