.dialog-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #BDBDBD;
}

.job-info{
  display: flex;
  flex-direction: column;
  padding-bottom: 3px;
}

.job-basic-info{
  display: flex;
  flex-direction: row;
  font-size: 0.7em;
  color: #424242;
}

.diagnostic-name{
  margin-right: 15px;
}

.job-info .material-icons{
  font-size: 0.8rem;
  vertical-align: middle;
  margin-right: 5px;
}

.close-icon .material-icons{
  font-size: 1.4rem;
}

.close-icon:hover{
  cursor: pointer;
}

.event{
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  padding: 0 10px;
  /* justify-content: space-between; */
}

.event-time{
  font-size: 0.6rem;
  min-width: 7.4rem;
}

.time-line{
  border-right: 2px solid #3F51B5;
  padding: 5px 15px 5px 0px;
  position: relative;
}

.time-line::after{
  position: absolute;
  content:'';
  width: 10px;
  height: 10px;
  right: -6px;
  top: 7px;
  border: 2px #3F51B5 solid;
  border-radius: 10px;
  background-color: #FFF;
}

.event-info{
  display: flex;
  padding-left: 15px;
}

.event-type .material-icons{
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 5px;
}

.event-source{
  margin-right:  5px;
}

/* .Alert{
  color: #D84315;
} */